.competitor-panel-container{
    position: fixed;
    left:0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.competitor-panel{
    padding: 10px;
    background-color: white;
    margin: 15% auto;
    width: 400px;
    overflow: auto;
}

.competitor-name{
    float:left;
}

.cancel, #divSave, #divMergeSave{
    float:right;
}

#divEdit, #divMerge{
    clear:both;
}

.new-competitor-title{
    font-size: 1.5em;
    font-weight: 600;

}

input {
    margin:3px;
}