 <div id="divModalBackground" *ngIf="competitor" class="competitor-panel-container" (click)="modalClicked($event);">
     <div class="competitor-panel drop-panel"> 
        <div class="competitor-name">
            <span *ngIf="competitor.id > 0" class="new-competitor-title">{{competitor.fullName}} ({{competitor.id}})</span>
        </div>
        <div class="cancel">
            <button type="button" value="Cancel" (click)="cancelClicked();" class="btn btn-danger" title="cancel" >
                <span class="glyphicon glyphicon-remove"></span> Cancel
            </button>
        </div>
        <div id="divEdit" *ngIf="mode=='edit'">      
            <span  *ngFor="let gender of genderList">
                <input  type="radio" [(ngModel)]="competitor.genderId"  name="sex" [value]="gender.id" />{{gender.name}}<br>
            </span>
            <div [hidden]="competitor.genderId == 3">
                <div><input [(ngModel)]="competitor.firstName" [hidden]="competitor.genderId == 3" class="form-control" placeholder="first name"/></div>
                <div><input [(ngModel)]="competitor.surname" class="form-control" placeholder="surname" /></div>
            </div>
            <div  [hidden]="competitor.genderId != 3">
                <input [(ngModel)]="competitor.surname" class="form-control" placeholder="group name" />
            </div>
            <div id="divSave">
                <button type="button" value="Save" (click)="saveClicked();" class="btn btn-success" title="save" >
                    <span class="glyphicon glyphicon-floppy-disk"></span> Save
                </button>
            </div>
            <a *ngIf="competitor.id > 0" href="" (click)="mergeModeClicked($event);">merge with another competitor</a>
        </div>
         
        <div id="divMerge" *ngIf="mode=='merge' && competitor.id > 0"><span>Merge with competitor: </span><br>
            <input type="text" placeholder="competitor ID" #mergeTargetId (keyup)="mergeTargetKeyPressed(mergeTargetId.value);" /><br>
            <span *ngIf="mergeTarget">{{mergeTarget.fullName}}({{mergeTarget.gender}})</span>
            <span *ngIf="!mergeTarget">no competitor selected</span>
            <div id="divMergeSave">
                <button *ngIf="mergeTarget" type="button" (click)="mergeClicked();" class="btn btn-success" title="save" >
                    <span class="glyphicon glyphicon-floppy-disk"></span> Merge
                </button>
            </div>
        </div>


    </div>

</div>