body {
    font-family: "Helvetica Neue","Lucida Grande","Segoe UI",Arial,Helvetica,Verdana,sans-serif;
    margin: 0;
    padding: 0;
    color: #303030;
    background-color: #b5deb5;
    background-position: center top;
    background-repeat: repeat-y;
    background-attachment: fixed;
    background-image: url(../../Images/Background/background-07.JPG)
}

@media only screen and (min-width:1366px) {
    body {
        font-size: 1.7em
    }
}

@media only screen and (min-width:1024px) and (max-width:1366px) {
    body {
        font-size: 1.5em
    }
}

@media only screen and (min-width:768px) and (max-width:1024px) {
    body {
        font-size: 1.5em
    }
}

@media only screen and (min-width:640px) and (max-width:768px) {
    body {
        font-size: 1.3em
    }
}

@media only screen and (max-width:640px) {
    body {
        font-size: 1.2em
    }
}

p {
    margin-bottom: 10px;
    line-height: 1.6em
}

h1, h2, h3, h4, h5, h6 {
    color: #323e4e;
    font-variant: small-caps;
    text-transform: none;
    margin-bottom: 0
}

h1 {
    font-size: 1.6em;
    font-weight: 300;
    padding-bottom: 0;
    margin-bottom: 0
}

h2 {
    font-size: 1.5em;
    font-weight: 600
}

h3 {
    font-size: 1.2em
}

h4 {
    font-size: 1.1em
}

h5, h6 {
    font-size: 1em
}

.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2 {
    margin-top: 0
}

.page {
    border-style: solid;
    border-width: 1px 0;
    border-color: #496077;
    background-color: #fff;
    margin: 10px auto 0;
    width: 98%
}

@media only screen and (min-width:768px) and (max-width:1024px) {
    .page {
        max-width: 960px
    }
}

@media only screen and (min-width:1024px) and (max-width:1366px),only screen and (min-width:1366px) {
    .page {
        max-width: 1200px
    }
}

.base {
    background-color: rgba(255,255,255,.7)
}

.header {
    background-color: #4cae4c
}

    .header h1 {
        margin: 0;
        padding: 0 0 0 20px;
        color: #fff;
        border: 0;
        line-height: 2em;
        font-size: 2em
    }

.main {
    min-height: 1000px;
    overflow: auto;
    background-color: #bed4df
}

.leftCol {
    padding: 6px 0;
    margin: 12px 8px 8px;
    width: 200px;
    min-height: 200px
}

.footer {
    color: #4e5766;
    padding: 8px 0 0;
    margin: 0 auto;
    text-align: center;
    line-height: normal
}

div.menu {
    padding: 10px 0 10px 8px;
    overflow: auto
}

    div.menu ul {
        list-style: none;
        margin: 0;
        margin-top: 20px;
        padding: 0;
        width: auto
    }

@media only screen and (max-width:640px) {
    div.menu ul {
        display: none
    }
}

@media only screen and (max-width:640px),only screen and (min-width:640px) and (max-width:768px) {
    div.menu li {
        display: inline
    }
}

div.menu select {
    display: none;
    width: 95%;
    margin-bottom: 6px
}

@media only screen and (max-width:640px) {
    div.menu select {
        display: inline
    }
}

div.menu ul li a, div.menu ul li a:visited {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #303030;
    font-weight: 600;
    display: inline-block;
    line-height: 1.35em;
    padding-left: 2ch;
    padding-right: 2ch;
    padding-bottom: 4px;
    padding-top: 2px;
    text-decoration: none;
    white-space: nowrap;
    float: left;
    margin-right: 1ch;
    margin-bottom: 6px
}

@media only screen and (max-width:640px),only screen and (min-width:640px) and (max-width:768px) {
    div.menu ul li a, div.menu ul li a:visited {
        float: none
    }
}

div.menu ul li a.selected {
    font-weight: 700;
    color: #fff;
    background-color: #4cae4c
}

body.no-touch div.menu ul li a:hover {
    text-decoration: none;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,.8);
    -moz-box-shadow: 0 0 5px rgba(0,0,0,.8);
    box-shadow: 0 0 5px rgba(0,0,0,.8)
}

body.no-touch div.menu ul li a.selected:hover {
    -webkit-box-shadow: 0 0 0 rgba(0,0,0,0);
    -moz-box-shadow: 0 0 0 rgba(0,0,0,0);
    box-shadow: 0 0 0 rgba(0,0,0,0)
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, body.no-touch .nav-tabs > li.active > a:hover {
    border-bottom-color: #fff;
    border-top-color: #f30;
    border-top-width: 3px;
    padding-top: 8px
}

.nav > li > a:focus, body.no-touch .nav > li > a:hover {
    outline: 0
}

.tab-content {
    padding: 1%
}

fieldset {
    margin: 1em 0;
    padding: 1em;
    border: 1px solid #ccc
}

    fieldset p {
        margin: 2px 12px 10px 10px
    }

    fieldset.login label, fieldset.register label, fieldset.changePassword label {
        display: block
    }

    fieldset label.inline {
        display: inline
    }

legend {
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px
}

ul {
    margin: 5px
}

.structure {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box
}

.eventTitle {
    font-size: 1.4em;
    font-weight: 700
}

.fieldName {
    font-size: 1.1em;
    font-weight: 700
}

.headerLeft {
    float: left;
    max-width: 66%
}

@media only screen and (max-width:640px),only screen and (min-width:640px) and (max-width:768px) {
    .headerLeft {
        float: none;
        text-align: center;
        max-width: none
    }
}

.headerRight {
    float: right;
    max-width: 33%;
    overflow: hidden
}

@media only screen and (max-width:640px),only screen and (min-width:640px) and (max-width:768px) {
    .headerRight {
        float: none;
        text-align: center;
        max-width: none
    }
}

.card.nextEventBox {
    min-width: 200px;
    margin: 8px;
    display: inline-block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: rgba(255,255,255,.7)
}

body.no-touch .nextEventBox:hover {
    -webkit-box-shadow: 0 0 8px #333;
    -moz-box-shadow: 0 0 8px #333;
    box-shadow: 0 0 8px #333;
    cursor: pointer;
    cursor: hand
}

.nextEventBox span {
    whitespace: nowrap
}

.nextEventBox #spanNextEventDate {
    float: right
}

a.noDecoration {
    text-decoration: none
}

    a.noDecoration:visited {
        color: inherit
    }

table {
    border-collapse: separate
}

th {
    vertical-align: bottom
}

th, td {
    border: 1px solid;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: top
}

.no-touch tr, .no-touch th, .no-touch td, .no-touch colgroup {
    transition: background .5s,border-color .5s
}

thead tr:nth-child(2) {
    font-size: .8em
}

thead tr {
    background-color: rgba(255,255,255,0)
}

    thead tr th {
        border-color: rgba(255,255,255,0)
    }

    thead tr:first-child th {
        border-top-color: #78a3b9
    }

    thead tr:last-child th {
        border-bottom-color: #78a3b9
    }

tbody tr:nth-child(odd) {
    background-color: #f9f9f9
}

    tbody tr:nth-child(odd) td {
        border-color: #f9f9f9
    }

tbody tr:nth-child(even) {
    background-color: #f1f6f8
}

    tbody tr:nth-child(even) td {
        border-color: #f1f6f8
    }

tbody tr.highlight td {
    border-color: #78a3b9;
    border-left-color: #bed4df;
    border-right-color: #bed4df;
    background: #bed4df
}

tbody tr.selected td {
    background-color: #f7f6c9;
    border-top-color: #eae770;
    border-bottom-color: #eae770;
    border-left-color: #f7f6c9;
    border-right-color: #f7f6c9
}

tbody td.selected {
    background-color: #f7f6c9;
    border-color: #eae770
}

colgroup.highlight {
    background: #f1f6f8
}

td.number, th.number {
    text-align: right
}

th.date, td.date {
    text-align: right;
    white-space: nowrap
}

.card {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 5px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 5px rgba(0,0,0,.2);
    box-shadow: 0 1px 5px rgba(0,0,0,.2);
    padding: 15px;
    margin: 1%;
    background-color: #fff;
    overflow: hidden
}

    .card.small-card {
        width: 31%
    }

@media only screen and (min-width:768px) and (max-width:1024px),only screen and (min-width:640px) and (max-width:768px) {
    .card.small-card {
        width: 48%
    }
}

@media only screen and (max-width:640px) {
    .card.small-card {
        width: 98%
    }
}

.card.medium-card {
    width: 64%
}

@media only screen and (min-width:768px) and (max-width:1024px),only screen and (min-width:640px) and (max-width:768px) {
    .card.medium-card {
        width: 48%
    }
}

@media only screen and (max-width:640px) {
    .card.medium-card {
        width: 98%
    }
}

.card.large-card {
    width: 98%
}

.card.first {
    background-image: url(../Images/NewCard.png);
    background-repeat: no-repeat;
    background-size: 20px 20px
}

body.no-touch .card.clickable:hover {
    cursor: pointer;
    cursor: hand;
    -webkit-box-shadow: 0 0 12px #2d3032;
    -moz-box-shadow: 0 0 12px #2d3032;
    box-shadow: 0 0 12px #2d3032
}

.card .cardTitle {
    font-size: 1.3em;
    font-variant: small-caps;
    font-weight: 700
}

.card .cardSubTitle {
    font-size: 1.1em;
    font-variant: small-caps;
    font-weight: 400
}

.card .cardDate {
    font-size: 1em;
    font-variant: small-caps
}

.card.eventlist ul {
    list-style: none;
    padding: 0
}

.card.eventlist li {
    padding: 5px
}

img.cardIcon {
    margin-top: 8px;
    margin-right: 6px;
    float: left;
    height: 24px
}

.eventList .event {
    clear: both;
    background-color: #FFF;
    padding: 8px;
    margin: 8px;
    overflow: auto
}

    .eventList .event .name {
        float: left;
        font-weight: 700
    }

    .eventList .event .date {
        float: right
    }

    .eventList .event .venue {
        clear: both;
        float: left
    }

.NewsList .Date {
    font-size: .8em
}

.card div.news-more {
    position: absolute;
    bottom: 0;
    width: 102%;
    left: 0;
    background-color: rgba(145,207,145,.9);
    transition: background-color .5s;
    text-align: center;
    height: 2em;
    border-top: solid 1px #4cae4c
}

    .card div.news-more:hover {
        background-color: #4cae4c;
        color: #fff
    }

.modal-backdrop {
    position: fixed
}

body .modal-dialog.large {
    width: 80%
}

@media only screen and (min-width:1366px) {
    body .modal-dialog.large {
        width: 80%
    }
}

@media only screen and (min-width:1024px) and (max-width:1366px) {
    body .modal-dialog.large {
        width: 80%
    }
}

@media only screen and (min-width:768px) and (max-width:1024px) {
    body .modal-dialog.large {
        width: 100%;
        margin: auto
    }
}

@media only screen and (min-width:640px) and (max-width:768px) {
    body .modal-dialog.large {
        width: 100%;
        margin: auto
    }
}

@media only screen and (max-width:640px) {
    body .modal-dialog.large {
        width: 100%;
        margin: auto
    }
}

.modal-header.title {
    background-color: #4cae4c;
    overflow: auto;
    font-size: 2em
}

    .modal-header.title h4 {
        color: #fff;
        font-weight: 700;
        float: left
    }

    .modal-header.title button {
        color: #fff;
        background-color: rgba(255,255,255,.30000000000000004);
        border: solid 1px rgba(255,255,255,.30000000000000004);
        margin: 4px;
        margin-top: 10px
    }

        .modal-header.title button.back {
            float: left;
            margin-right: 12px
        }

        .modal-header.title button.modal-close {
            float: right
        }

        .modal-header.title button.edit {
            float: right
        }

        .modal-header.title button.save {
            float: right;
            color: #000;
            background-color: #31e831
        }

        .modal-header.title button.cancel {
            float: right;
            color: #000;
            background-color: #f99
        }

        .modal-header.title button:hover {
            border: solid 1px #fff;
            background-color: rgba(255,255,255,.1)
        }

.modal-header h4 {
    color: #78a3b9;
    font-weight: 700
}

body div.card table.resultSummary {
    width: 100%
}

table.resultSummary th {
    padding: 2px;
    font-weight: 700
}

table.resultSummary tbody tr {
    background-color: transparent
}

table.resultSummary td {
    border: 0
}

table.resultTable {
    cell-padding: 2px;
    margin: auto;
    width: 100%
}

    table.resultTable tr.dsq {
        background-color: #fcc
    }

        table.resultTable tr.dsq td {
            border-color: #fcc
        }

div.pill {
    margin: 10px;
    border-radius: 6px;
    border: 1px solid #ddd;
    border-image: none;
    float: left;
    display: table
}

    div.pill div {
        padding: 4px 12px 4px 8px;
        white-space: nowrap;
        float: left
    }

        div.pill div.left {
            background-color: #eaf3fb
        }

        div.pill div.right {
            display: table-cell;
            vertical-align: middle
        }

            div.pill div.right div.inner {
                display: inline-block
            }

table.logTable {
    cell-padding: 2px;
    margin: auto;
    width: 100%
}

    table.logTable thead tr:last-child {
        border-bottom: 1px solid #78a3b9
    }

    table.logTable td.points {
        border-right: 1px solid #78a3b9
    }

    table.logTable colgroup.event {
        border-right: 1px solid #bed4df
    }

    table.logTable thead tr th.eventName {
        max-width: 200px;
        font-size: .8em
    }

    table.logTable thead tr th.rotate {
        padding: 0;
        margin: 0;
        width: 50px;
        vertical-align: top;
        text-align: left;
        border-left-color: #78a3b9;
        border-top: 0
    }

.logTable th.rotate div {
    padding: 0;
    margin: 0;
    transform: rotate(-90deg);
    transform-origin: 10px 10px;
    -webkit-transform: rotate(-90deg);
    -webkit-transform-origin: 10px 10px
}

td.deduct {
    color: red
}

.logTable td.organiser {
    background-color: #c5fbc5;
    border-color: #c5fbc5
}

span.eventCount {
    font-size: 1.7em;
    font-weight: 700
}

.processing {
    background-color: rgba(100,100,250,.1)
}

#divProcessing {
    position: absolute;
    text-align: center
}

    #divProcessing .helper {
        display: inline-block;
        height: 100%;
        vertical-align: middle
    }

    #divProcessing img {
        height: 50px
    }

span.clickable {
    color: #337ab7
}

    span.clickable:hover {
        color: #23527c;
        border-bottom: 1pt solid #23527c;
        cursor: pointer
    }

div.calendar-icon {
    border: 1px solid #000;
    border-radius: 4px;
    margin-right: 10px;
    width: 13ch;
    overflow: hidden;
    -webkit-box-shadow: 2px 2px 4px rgba(0,0,0,.5);
    -moz-box-shadow: 2px 2px 4px rgba(0,0,0,.5);
    box-shadow: 2px 2px 4px rgba(0,0,0,.5)
}

    div.calendar-icon div {
        padding: 2px
    }

div.calendar-date div {
    text-align: center
}

div.calendar-icon div.calendar-icon-month {
    background-color: #f64437;
    color: #fff;
    font-weight: 600
}

div.calendar-icon div.calendar-icon-date {
    background-color: #fff;
    font-weight: 700;
    font-size: 2em;
    height: 4ch
}

div.calendar-date-day {
    font-weight: 300;
    width: 13ch
}

div.map:hover {
    -webkit-box-shadow: 0 0 8px #000;
    -moz-box-shadow: 0 0 8px #000;
    box-shadow: 0 0 8px #000
}

div#divContactDetails h1 {
    font-weight: 600;
    font-size: 1.1em
}

    div#divContactDetails h1 img {
        height: 30px
    }

div#divContactDetails div {
    margin: 2em
}

div#divAbout #divMap {
    float: left;
    margin-right: 2ch;
    margin-bottom: 2ch;
    border: 1px solid #78a3b9;
    margin: 8px;
    -webkit-box-shadow: 2px 2px 8px #bed4df;
    -moz-box-shadow: 2px 2px 8px #bed4df;
    box-shadow: 2px 2px 8px #bed4df
}

    div#divAbout #divMap img {
        height: 200px
    }

@media only screen and (max-width:640px) {
    div#divAbout #divMap img {
        height: 100px
    }
}

@media only screen and (min-width:640px) and (max-width:768px) {
    div#divAbout #divMap img {
        height: 150px
    }
}

#divWhatIs img {
    margin: 20px
}

#divWhatIs h1 {
    font-weight: 600
}

div.social {
    max-width: 140px
}

.social img {
    height: 2em;
    margin: 4px
}

#divModalSocial {
    float: left
}
