<button-bar [title]="'Competitors'" [buttons]="['new']" [newText]="'New Competitor'" (newClicked)="newCompetitor()"></button-bar>
<div *ngIf="allCompetitors">
	<div class="table-responsive">
		<table class="table table-striped table-hover">
			<tr>
				<th>id</th>
				<th>Full Name</th>
				<th>Gender</th>
			</tr>
			<tr *ngFor="let competitor of allCompetitors" (click)="competitorClick(competitor.id)" class="clickable">
				<td>{{competitor.id}}</td>
				<td>{{competitor.fullName}}</td>
				<td>{{competitor.Gender}}</td>
			</tr>
		</table>
	</div>
</div>