<div *ngIf="newsItem">
	<form #newsItemForm="ngForm"  (ngSubmit)="newsItemForm.reset();loadNewsItem();">
		<button-bar [title]="'News Item: ' + newsItem.title" [buttons]="['save', 'cancel']" (backClicked)="backClicked()"
			(saveClicked)="saveClicked()" (cancelClicked)="cancelClicked()" [editing]="newsItemForm.form.dirty"></button-bar>
		<div class="row">
			<div class="col-xs-12">
				<dl>
					<dt><span for="name"> Title:</span></dt>
					<dd [ngClass]="{'has-error':!name.valid}"><input id="name" [(ngModel)]="newsItem.title" class="form-control" name="name" #name="ngModel" required placeholder="title (required)"
						/></dd>
					<dt>Date:</dt>
					<dd><input type="date" [(ngModel)]="newsItem.date" class="form-control" name="date" /></dd>
					<dt>News:</dt>
					<dd><textarea rows="20" [(ngModel)]="newsItem.news" class="form-control" name="news"></textarea></dd>
					<br>
					<file-upload [tagStyle]="'image'"></file-upload>
				</dl>
			</div>
		</div>
	</form>
</div>