h1:hover {
    cursor: pointer;
    color: blue;
}
#divPage {
    background-color: white;
    min-height: 800px;
}

#divTitle {
    float:left;
    margin-bottom:10px;
}

#divSignout {
    float:right;
}

.clearfix {
    clear: both;
}
