<div id="divPage" class="container">
	<div id="divTitle" style="" (click)="homeClicked()">
		<h1>PenOC Website Admin</h1>
	</div>
	<div id="divSignout" *ngIf="isAuthenticated"><a href="" (click)="signOutClicked($event)">sign out</a></div>
	<div class="clearfix"></div>
	<sign-in *ngIf="!isAuthenticated" (authenticated)="authenticated()"></sign-in>
	<div *ngIf="isAuthenticated">
		<ul class="nav nav-tabs">
			<li [routerLinkActive]="['active']"><a routerLink="/events">Events</a></li>
			<li [routerLinkActive]="['active']"><a routerLink="/news">News</a></li>
			<li [routerLinkActive]="['active']"><a routerLink="/lookups">Lookups</a></li>
			<li [routerLinkActive]="['active']"><a routerLink="/competitors">Competitors</a></li>
		</ul>
		<div>
			<br>
			<router-outlet></router-outlet>
		</div>
	</div>
	
</div>