<div id="container"  >
    <div id="nameLabel" class="competitor-label-box" (click)="activateSearch(true);">
        <span *ngIf="competitor">{{competitor.fullName}}</span>
    </div>
    <div [hidden]="!searchActive" (mouseenter)="maintainActive();"  class="competitor-lookup-panel">
        <div >
            <input id="searchBox" type="text" #searchBox [(ngModel)]="searchString" (keyup)="keyPressed($event);" class="form-control search-input" name="fakeusername"/>
        </div>
        <div class="clear-button-container">
            <button [hidden]="searchString" class="btn btn-primary new-button" (click)="newClicked($event);"><span class="glyphicon glyphicon-plus" title="new"></span></button>
        </div> 
        <div *ngIf="allCompetitors && !newCompetitor" class="match-list-container drop-panel"> 
            <ul>
                <li (click)="selectCompetitor(null)" ></li>
                <li *ngFor="let competitor of (allCompetitors | matchingCompetitors : searchString | people : peopleOnly ); let i = index" [ngClass]="{selected: i==matchIndex}" (click)="selectCompetitor(competitor)" >{{competitor.fullName}}</li>
            </ul>
        </div>
        <div *ngIf="newCompetitor" class="new-competitor-panel drop-panel">
            <span class="new-competitor-title">New Competitor</span><br />
            <span  *ngFor="let gender of genderList">
                <input  type="radio" [(ngModel)]="newCompetitor.genderId"  name="sex" [value]="gender.id" />{{gender.name}}
            </span>
            <div [hidden]="newCompetitor.genderId < 1 || newCompetitor.genderId == 3">
                <div><input [(ngModel)]="newCompetitor.firstName" [hidden]="newCompetitor.genderId == 3" class="form-control" placeholder="first name"/></div>
                <div><input [(ngModel)]="newCompetitor.surname" class="form-control" placeholder="surname" /></div>
            </div>
            <div  [hidden]="newCompetitor.genderId != 3">
                <input [(ngModel)]="newCompetitor.surname" class="form-control" placeholder="group name" />
            </div>
            <button type="button" value="Cancel" (click)="cancelNewCompetitor();" class="btn btn-danger" title="cancel" >
                <span class="glyphicon glyphicon-remove"></span> Cancel
            </button>
            <button type="button" value="Save" (click)="saveNewCompetitor();" class="btn btn-success" title="save" >
                <span class="glyphicon glyphicon-floppy-disk"></span> Save
            </button>
        </div>
    </div>
</div>