<div id="container" tabindex="0" (focus)="activateSearch(true);">
    <div id="nameLabel" class="competitor-label-box" (click)="activateSearch(true);">
        <span *ngIf="competitor">{{competitor.fullName}}</span>
    </div>
    <div [hidden]="!searchActive" (mouseenter)="maintainActive();"  class="competitor-lookup-panel" >
        <div >
            <input id="searchBox" type="text" placeholder="search" #searchBox [(ngModel)]="searchString" (keydown)="keyPressed($event);" class="form-control search-input"/>
        </div>
        <div class="clear-button-container">
            <button class="btn btn-primary new-button" (click)="newClicked($event);"><span class="glyphicon glyphicon-plus" title="new"></span></button>
        </div> 
        <div *ngIf="allCompetitors && !newCompetitor" class="match-list-container drop-panel"> 
            <ul>
                <li (click)="selectCompetitor(null)" ></li>
                <li *ngFor="let competitor of (allCompetitors | matchingCompetitors : searchString | people : peopleOnly ); let i = index" [ngClass]="{selected: i==matchIndex}" (click)="selectCompetitor(competitor)" >{{competitor.fullName}}</li>
            </ul>
        </div>
        <div *ngIf="newCompetitor" class="new-competitor-panel drop-panel">
            <competitor-editor [competitor]="newCompetitor" (saved)="newCompetitorSaved($event)" (cancelled)="newCompetitorCancelled()"></competitor-editor>
        </div>
    </div>
</div>