#container{
   position: relative; 
}

.competitor-label-box{
    height: 34px;
    width: 100%;
    padding: 4px;
    padding-top: 7px;
    padding-left: 12px;
    border-radius: 4px;
    border:1px solid rgb(204, 204, 204);
    background-color: white;
    overflow: hidden;
}

.competitor-lookup-panel{
    position: absolute; 
    box-sizing: content-box;
    top: 0px; 
    width: 100%; 
    min-height: 100px; 
    z-index:100;
}

.search-input{
    background-color: lightpink ;
}

.clear-button, .new-button{
    height: 30px;
    width: 30px;
}

.clear-button span, .new-button span{
    top: 0px;
    left: -4px;
}

.clear-button-container{
    float: right;
    text-align: right;
    position: relative;
    top: -32px;
    padding-right: 2px;
}

.drop-panel{
    padding:10px;
    border:1px solid rgb(204, 204, 204);
    border-radius: 4px;
     
    background-color: white;
    
    -webkit-box-shadow: 12px 13px 11px -3px rgba(0, 0, 0,0.22); 
    -moz-box-shadow: 12px 13px 11px -3px rgba(0, 0, 0,0.22); 
    box-shadow: 12px 13px 11px -3px rgba(0, 0, 0,0.22);
    width: 300px;
}

.match-list-container {
    padding: 0px;
}
.match-list-container ul{
    list-style: none;
}

.match-list-container ul li{
    padding:3px;
}

.match-list-container ul li:hover{
    background-color: #CCCCCC;
    cursor: pointer;
}

.match-list-container ul li.selected{
    background-color: #286090;
    color: white;
}

.new-competitor-panel input{
    margin: 4px;
    margin-bottom: 10px;
}

.new-competitor-title {
    font-size: 2em;
}

li{
    min-height: 25px;
}